html,body{
    width: 100%;
}

.top-nav a{
    font-size: 30px;
}
.top-nav-right a{
    float: right;
    font-size: 20px;
    margin-top: 6px;
}

.top-side{
    height: 750px;
    width: 100%;
}

.backmap{
    width: 995px;
    height: 434px;
    position: absolute;
    display: inline-box;
    color: black;
    background-color: #1b6214;
    border-radius: 77px 77px 77px 77px;
    font-size: 20px;
    /* make center */
    transform: translate(-50%,-80%);
    top: 550px;
    bottom: 580px;
    left: 50%;
    overflow: hidden;
}


.judul-header{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-right: -30px;
    color: black;
    margin-top: 2px;
    white-space: nowrap;
    padding: 50px;
}

.ggmap{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    position: absolute;
        top: 0;
        bottom: 0;
    /* margin-left: 15px; */
    width: 895px;
    height: 384px;
    /* stack right */
    float: right;
    left: 125px;
    transform: translate(-8%,-1%);
    border-radius: 77px 77px 77px 77px;
    image-resolution: cover;
    cursor: pointer;
    overflow: hidden;
}

.ssmap{
    width: 210px;
    height: 200px;
    margin-left: 10px;
    margin-top: 15px;
}


@keyframes change{
0%{
    transform: translateX(0);
}
25%{
    transform: translateX(0);
}
30%{
    transform: translateX(-100%);
}
50%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
80%{
    transform: translateX(-300%);
}
100%{
    transform: translateX(-300%);
}
}
img{
width: 100%;
}

@media(max-width:768px){
    .backmap{
        width:100%;
        height: 400px;
        display: inline-box;
        color: white;
        font-size: 20px;
        transform: translate(-58%,-59%);
        top :450px;
        left :58%;
        overflow: hidden;
    }
    .ggmap{
        height: auto;
        width: 100%;
        top:-10px;
        left: 8%;
    }
    .judul-header{
        font-size: 30px;
        font-weight: bold;
        margin-right: -5px;
        text-align: center;
        

    }
}

@media(max-width:600px){
    .backmap{
        width: 100%;
        height: 350px;
       
        display: inline-box;
        color: white;
        font-size: 20px;
        /* make center */
        transform: translate(-50%,-35%);
        top: 400px;
        left: 50%;
        overflow: hidden;
    }
    .ggmap{
        height: auto;
        width: 100%;
        top :10px;
        left: 8%
    }
    .judul-header{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-right: 100px;
        
    }
}

.lower-side{
    position: absolute;
    top: 700px;
    height: 700px;
    width: 100%;
    background-color: #ffffff;
}

.box{
    position: relative;
    top: 20%;
    margin: auto;
    max-width: 858px;
}

.box h1{
    text-align: center;
    margin-bottom: 30px;
}

.box-form{
    display:block;
    position: absolute;
    background: #2D9B22;
    border-radius: 25px;
    width: 100%;
}

.box-form form{
    padding: 0 20px;
    box-sizing: border-box;
}

.box-form input:focus{
    outline: 2px solid rgb(0, 0, 0);
}

.txt_field{
    position: relative;
    font-size: 18px;
    margin: 20px 0;
}


.txt_field input{
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-width: 1px;
    padding: 5px 10px;
    margin : 5px 0px;
    background-color: #ffffff;
    color: #5B5353;
}

.txt_field label{
    margin: 0 0 0 10px;
    color: white;
    font-weight: Bold;
}

.table{
    display: table;
    width: 100%;
    
}

.table-cell1{
    display: table-cell;
    width: 70%;
    margin: auto;
}

.table-cell2{
    display: table-cell;
    width: 30%;
    margin:auto
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    margin: 0px 0px 20px 0px;
    border-radius: 25px;
    border: 1.7px solid;
    cursor: pointer;
    background: #26803e;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
}

input[type="submit"]:hover{
    border-color: #26803e;
    transition: .4s;
}

