.gimana-cara-milah{
    width: 1200px;
    height: 550px;
    position: absolute;
    display: inline-box;
    color: black;
    background-color: #B6CEB4;
    border-radius: 10px 10px 10px 10px;
    font-size: 20px;
    /* make center */
    transform: translate(-50%,-80%);
    top: 540px;
    left: 50%;
    overflow: hidden;
}

.cara-milah-tittle{
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        margin-right: -30px;
        color: black;
        margin-top: 90px;
}
.cara-milah-sampah{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
        /* margin-left: 15px; */
        background-image: linear-gradient(rgb(36, 179, 36),rgb(79, 214, 106),rgb(79, 214, 106));
        width: 230px;
        height: 300px;
        /* stack right */
        float: right;
        margin-right: 120px;
        transform: translate(-8%,-1%);
        border-radius: 10px 10px 10px 10px;
        image-resolution: cover;
        overflow: hidden;
}

.sesuai-jenis-sampah{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.sesuai-jenis-sampah-1{
    font-size: 25px;
    margin-top: 110px;
    margin-bottom: 60px;
    text-align: center;
}

.sesuai-jenis-sampah-2{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.jenis-sampah{
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
        margin-right: 100px;
        margin-left: 5px;
        text-align: center;
        background-color: white;
        box-shadow: 5px 5px 3px #888888;
        width: 220px;
        height: 30px;
        border-radius: 10px 10px 10px 10px;
        image-resolution: cover;
        overflow: hidden;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
    height: 100%;
}

.navbar-brand {
    text-decoration: none;
    color: black;
    font-size: 145%;
    font-weight: bold;
    padding-left: 10px;

}

#box h1 {
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    padding-top: 20px;
}

.navbar-brand:hover {
    color: black;
}

nav {
    height: 50px;
}

.nav-link,
#activePage {
    margin-right: 10px;
    background-color: #24a339;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    font-family: "Inter", sans-serif;
    filter: drop-shadow(0px 0.7px 0.8px black);
}

.nav-link:hover,
#activePage:hover {
    color: black;
}


#footerNav a {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 350;
}

#box {
    margin-top: 10%;
    margin-bottom: 10%;
}

