.top-nav a{
    font-size: 30px;
    box-shadow: 2px 2px 1px #8888;
}
.top-nav-right a{
    float: right;
    font-size: 20px;
    margin-top: 6px;
    box-shadow: 2px 2px 1px #8888;
}
.cara-milah{
    width: 1200px;
    height: 580px;
    position: absolute;
    display: inline-box;
    color: black;
    background-color: #B6CEB4;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
    /* make center */
    transform: translate(-50%,-80%);
    top: 560px;
    bottom: 580px;
    left: 50%;
    overflow: hidden;
    margin-top:50px;
    margin-bottom:100px;
}

.judul-header-milah{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-right: -30px;
    color: black;
    margin-top: 80px;
}
.penjelasan-cara-milah{
    font-size: 20px;
    font-weight: bold;
    margin-top: 75px;
    text-align: center;
    /* margin-left: 15px; */
    background-image: linear-gradient(rgb(36, 179, 36),rgb(79, 214, 106),rgb(79, 214, 106));
    width: 230px;
    height: 300px;
    /* stack right */
    float: right;
    margin-right: 120px;
    transform: translate(-8%,-1%);
    border-radius: 20px 20px 20px 20px;
    image-resolution: cover;
    overflow: hidden;
}

.sesuai-jenis-sampah{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.sesuai-jenis-sampah-1{
    font-size: 25px;
    margin-top: 110px;
    margin-bottom: 60px;
    text-align: center;
}

.sesuai-jenis-sampah-2{
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.jenis-sampah{
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 1px #8888;
    width: 220px;
    height: 30px;
    border-radius: 90px 90px 90px 90px;
    image-resolution: cover;
    overflow: hidden;
}

@keyframes change{
0%{
    transform: translateX(0);
}
25%{
    transform: translateX(0);
}
30%{
    transform: translateX(-100%);
}
50%{
    transform: translateX(-100%);
}
55%{
    transform: translateX(-200%);
}
75%{
    transform: translateX(-200%);
}
80%{
    transform: translateX(-300%);
}
100%{
    transform: translateX(-300%);
}
}
img{
width: 100%;
}

@media(max-width:768px){
    .cara-milah{
        width:768px;
        height: 800px;
        position: absolute;
        display: inline-box;
        color: black;
        font-size: 20px;
        /* make center */
        transform: translate(-58%,-59%);
        /* top: 930px; */
        /* left: 50%; */
        overflow: hidden;
    }
    .judul-header-milah{
        font-size: 25px;
        font-weight: bold;
        /* text-align: center; */
        margin-right: -130px;
}

}
@media(max-width:600px){
    .cara-milah{
        width: 100%;
        height: 1450px;
        position: absolute;
        display: inline-box;
        color: black;
        font-size: 20px;
        /* make center */
        transform: translate(-50%,-35%);
        top: 800px;
        left: 50%;
        overflow: hidden;
    }
    .judul-header-milah{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-right: -20px;

}
}