main {
    padding: 2em;
}

.user {
    padding: 1em;
    float:left;
    width: 20%;
    text-align: center;
    background-color: #24A717;
    border-radius: 1em;
}

.user img {
    padding: 1em 0em;
}

.jenis-sampah-terkumpul {
    padding: 1em;
    float:right;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.upper-half {
    display: flex;
    justify-content: center;
    margin: auto;
}

.lower-half {
    display: flex;
    justify-content: center;
    margin: 0% 30%;

}
