@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Montserrat;
    font-weight: bold;
    z-index: 1;
    text-decoration: none;
}


/* nav start */

nav {
    height: 80px;
    width: 100%;
    z-index: 2;
    text-decoration: none;
    list-style: none;
}

label.logo {
    font-size: 35px;
    padding: 0 100px;
    line-height: 80px;

}

a.logonya{
    color: black;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 3px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: green;
    transition: .3s;
    color: white;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 952px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 50%;
        height: 100vh;
        background-color: gray;
        border-radius: 10px;
        top: 80px;
        right: -150%;
        text-align: center;
        transition: all .7s;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        background: none;
    }

    #check:checked ~ ul{
        right: 0;
    }
}
/* nav end */

/* Content */
main {
    padding: 2em 4em;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("images/backgroundfix.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


.user {
    padding: 1em;
    text-align: center;
    background-color: #24A717;
    border-radius: 1em;
    flex-basis: 20%;
    height: 40%;
    
}

h1 {
    margin: 0em 0em 0.5em 0em;
    font-family: Montserrat;
    font-weight:bold;
}

.user img {
    padding: 1em 0em;
}


.content {
    background-size: cover;
    display: flex;
}

.jenis-sampah-terkumpul {
    flex-basis: 80%;
    padding: 1em;
    margin: 0em 0em 5em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #B6CEB4;
    border-radius: 22px;
}

.jenis-sampah-terkumpul img {
    height: 60%;
    margin: 5% 0%;
}

.jenis-sampah-terkumpul .weight {
    background-color: #D9D9D9;
    border-radius: 16px;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 0% 10% 0%;
}


.upper-half {
    display: flex;
    justify-content: center;
}

.upper-half section {
    padding: 1% 5%;
    margin: 2% 3%;
    background-color: #4F9C12;
    border-radius: 7%;
}

.lower-half {
    display: flex;
    justify-content: center;
}

.lower-half section {
    padding: 1% 7%;
    margin: 2% 9%;
    background-color: #4F9C12;
    border-radius: 7%;
}
/* content end */


/* footer */
.footer{
    bottom: 0;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    left: 0px;;
    color:black;
    display: inline;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 0px;
    text-align: center; 
    /* border-radius: 11px 11px 0px 0px; */
}

.footer a{
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 30px;
    font-size: 19px;

    border-radius: 20px;
}

.footer p{
    /* padding-bottom: 2px; */
    text-align: left;
    display:inline;
    float: left;
    font-size: 20px;
    
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 2px;
}
/* footer end */