body {
    background-image: url("images/Homepage.jpg");
    background-size: cover;
    height: 100%;
}

.navbar-brand {
    text-decoration: none;
    color: black;
    font-size: 145%;
    font-weight: bold;
    padding-left: 10px;

}

#box h1 {
    font-size: 50px;
    color: black;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    padding-top: 20px;
}

.navbar-brand:hover {
    color: black;
}

nav {
    height: 50px;
}

.nav-link,
#activePage {
    margin-right: 10px;
    background-color: #24a339;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    font-family: "Inter", sans-serif;
    filter: drop-shadow(0px 0.7px 0.8px black);
}

.nav-link:hover,
#activePage:hover {
    color: black;
}

#register {
    text-align: left;
    margin-top: 10px;
}

#regbox {
    background-color: #d1cfcf;
    border-radius: 12px;
}


#box input {
    margin-bottom: 7px;
    border-radius: 10px;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;

}

#box #password {
    margin-bottom: 1.5rem;
}

#box form label {
    font-size: 22px;
    margin-left: 2%;
}

#buttons button,
#buttons a {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    padding: 2px 20px 2px 20px;
}

#buttons {
    margin-bottom: 10%;

}

#footerNav a {
    background-color: transparent;
    border: none;
    color: black;
    font-weight: 350;


}

#box {
    margin-top: 10%;
    margin-bottom: 10%;
}