body{
    background-image: url("backgroundfix.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.top-nav{
    overflow: hidden;
    background-color: black;
    border-radius: 0px 0px 11px 11px;
}
.top-nav a{
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;

    font-size: 19px;
    border-radius: 20px;
}
.top-nav a:hover{
    background-color: #2D9B22;
    color: black;
}

.top-nav-right{
    float: right;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box ;
}
nav{
    background: white;
    height: 70px;
    width: 100%;
}
label.logo{
    color: black;
    font-size: 40px;
    line-height: 65px;
    padding: 0 90px;
    font-weight: bold;

    margin-left: -40px;
    text-decoration: none;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 20px;

    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}
nav ul li a.active, nav ul li a:hover{
    background: #2D9B22;
    transition: 0.5s;
    color: black;
}
.logonya.active,.logonya:hover{
    background: none;
    color: black;
}
.checkbtn{
    font-size: 30px;
    color: black;

    font-weight: bold;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}
@media (max-width: 952px){
    label.logo{
        font-size: 30px;

        padding-left: 50px;
    }
    nav ul li a{
        font-size: 15px;

    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: absolute;
        width: 355px;
        height: 100%;
        background: white;
        top: 80px;
        right: -110%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height :30px;

    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: black;
    }
    #check:checked ~ ul{
        right: 0;
        /* bring to front */
        z-index: 1;
        /* stay still */
        

    }
    

    }
    .category{
        position: relative;
        display: inline-box;
    
        /* on the left side */
        float: left;
        /* margin like container */
        margin: 0px 20px 20px 0px;
        background-color: green;
        color: black;
        font-size: 20px;

        cursor: pointer;
        border-radius: 0px 0px 10px 10px;
    }
    .category-content{
        display: none;
        position: absolute;
        background-color: green;
        /* display: none; */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 0px 0px 10px 10px;
        left: 30px;
        top: 134px;
    }
    .category-content a{
        border-radius: 0px 0px 10px 10px;
        color: green;
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 20px 100px;
    }
    .category-content a:hover{
        background-color: green;
        color: black;
    
    }
    .category:hover .category-content{
        display: block;
    
    }
    .category:hover .category-button{
        background-color: #2D9B22;
        color:#2D9B22;
    }
    
    


@media (max-width: 768px){
    .footer{
        position: absolute;
        bottom: 0;
        width: 768px;
        background-color: black;
        left:0;
        color:white;
        display: inline;
        padding-bottom: 1px;
        padding-top: 5px;
        text-align: left; 
        font-size: 10px;

        /* border-radius: 11px 11px 0px 0px; */
    }
    .footer a{
        color:black;
        margin-left: 30px;
        font-size: 15px;

        margin-top: 100px;
        display: none;
        /* text-align: right; */
    }
    
    .footer p{
        /* padding-bottom: 2px; */
        font-size: 10px;

        text-align: left;
        /* align: center; */
        display:inline;
        float: left;
        font-size: 20px;
    
        margin-left: 30px;
        margin-top: 1px;
        margin-bottom: 2px;
    }
    
    .inc{
        text-align: left;
        float :left;
        margin-right:30px;
    }
}
.logonya{
    color: black;
}
.sizing{
    width: 30px;
    height:30px;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    left: 0px;;
    color:black;
    display: inline;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 0px;
    text-align: center; 
    /* border-radius: 11px 11px 0px 0px; */
}

.footer a{
    float: left;
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 16px 10px;
    text-decoration: none;
    margin-top: -10px;
    margin-left: 30px;
    font-size: 19px;

    border-radius: 20px;
}

.footer p{
    /* padding-bottom: 2px; */
    text-align: left;
    display:inline;
    float: left;
    font-size: 20px;
    
    margin-left: 30px;
    margin-top: 1px;
    margin-bottom: 2px;
}